.add-transaction-coin {
  display: flex;
  flex-direction:row;
  margin-top: 20px;
  width: 20em;
  align-items: center;


}
.estimated {
  font-style: italic;
  font-size: smaller;
}
.dontdisplay {
  font-size: 0%;
}
