.navbar-lewagon {
  justify-content: space-between;
  background: #a6c0f4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  font-size: larger;
  color:  rgb(5, 14, 81);
  font-weight: bolder;
  
}
