<h1>Add a new crypto to <%= @portfolio.name %></h1>


<div class="container text-center"  >
  <form class = "row g-2 justify-content-center py-5" action="search">
    <input  type ="text"
            class="form-control"
            placeholder="Enter at least 3 characters... "
            name="coin[gecko_coin]"
            aria-label="search">

    <input  type="submit"
            class="btn btn-primary btn-lg">
  </form>
</div>
