<h1>Coins#new</h1>
<p>Find me in app/views/coins/new.html.erb</p>
<%# contrôler les 3 caractères mini %>
<div class="container text-center" data-controller="search-crypto" >
  <form class = "row g-2 justify-content-center py-5"
        data-search-crypto-target = "form"
        data-action="submit->search-crypto#api">
    <input  type ="text"
            class="form-control"
            placeholder="Enter at least 3 characters... "
            data-search-crypto-target="input">
    <input  type="submit"
            class="btn btn-primary btn-lg">
  </form>
  <div data-controller = "select-crypto">
    <ul  data-search-crypto-target="results" >
    </ul>
    <p data-select-crypto-target="id"></p>
    <p data-select-crypto-target="symbol"></p>
    <p data-select-crypto-target="name"></p>
    <p data-select-crypto-target="url"></p>
  </div>
  <%# alimenter les données du coin à créer ? %>
  <%# <% @coin.gecko_coin =  %> 
  <%# @coin.symbol = %>
  <%# @coin.name = %>
  <%# @coin.image_url = %>
</div>
